doctype html
html
    head
        title= title
        script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
        link(href="https://fonts.googleapis.com/css?family=Bungee+Shade|Chelsea+Market|Codystar|Freckle+Face|Megrim|Rubik+Mono+One&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css",
            rel="stylesheet",
            integrity="sha384-FBPbZPVh+7ks5JJ70RJmIaqyGnvMbeJ5JQfEbW0Ac6ErfvEg9yG56JQJuMNptWsH",
            crossorigin="anonymous")
    body.p-0
        block content
