doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css",
      rel="stylesheet",
      integrity="sha384-FBPbZPVh+7ks5JJ70RJmIaqyGnvMbeJ5JQfEbW0Ac6ErfvEg9yG56JQJuMNptWsH",
      crossorigin="anonymous")
  body.p-0
    block content
